# major project

## 1.details

## regression problem

## 2.my solution

## random forest regressor

### step1

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
cd desktop

C:\Users\Papu Naidu\desktop

In [3]:
df=pd.read_csv("ipl2017.csv")
df.drop(columns=["mid","date"],inplace=True)

### a)features should not have null values

In [4]:
df.isna().sum()

venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

### b)features should be of type array or data frame

In [5]:
type(df)

pandas.core.frame.DataFrame

### c)data frame should have some rows and columns

In [6]:
df.shape

(76014, 13)

### d)features should be numeric in nature

In [7]:
df.dtypes

venue              object
bat_team           object
bowl_team          object
batsman            object
bowler             object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
striker             int64
non-striker         int64
total               int64
dtype: object

In [8]:
df1=pd.read_csv("ipl2017.csv")
df1.drop(columns=["mid","date"],inplace=True)
df=pd.get_dummies(df1,columns=["venue","bat_team","bowl_team","batsman","bowler"],drop_first=True)
df

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total,venue_Brabourne Stadium,venue_Buffalo Park,...,bowler_WPUJC Vaas,bowler_Washington Sundar,bowler_Y Gnaneswara Rao,bowler_Y Nagar,bowler_Y Venugopal Rao,bowler_YA Abdulla,bowler_YK Pathan,bowler_YS Chahal,bowler_Yuvraj Singh,bowler_Z Khan
0,1,0,0.1,1,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0.2,1,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0.2,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,0,0.3,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0.4,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,121,7,19.2,40,0,40,12,129,0,0,...,0,0,0,0,0,0,0,0,0,0
76010,127,7,19.3,46,0,46,12,129,0,0,...,0,0,0,0,0,0,0,0,0,0
76011,128,7,19.4,47,0,47,12,129,0,0,...,0,0,0,0,0,0,0,0,0,0
76012,129,7,19.5,48,0,47,13,129,0,0,...,0,0,0,0,0,0,0,0,0,0
76013,129,8,19.6,47,1,47,13,129,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
y=df["total"]
x=df.drop(columns="total")
y

0        222
1        222
2        222
3        222
4        222
        ...
76009    129
76010    129
76011    129
76012    129
76013    129
Name: total, Length: 76014, dtype: int64

### step 2 split the dataset into training and testing sets

In [10]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=8)
x_train

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,venue_Brabourne Stadium,venue_Buffalo Park,venue_De Beers Diamond Oval,...,bowler_WPUJC Vaas,bowler_Washington Sundar,bowler_Y Gnaneswara Rao,bowler_Y Nagar,bowler_Y Venugopal Rao,bowler_YA Abdulla,bowler_YK Pathan,bowler_YS Chahal,bowler_Yuvraj Singh,bowler_Z Khan
53709,97,4,11.4,40,3,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3916,6,1,1.3,6,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5739,162,3,18.3,62,2,12,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11929,100,4,15.2,40,0,26,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17944,146,5,17.2,34,1,50,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10376,34,3,6.5,24,2,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62426,1,0,0.2,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18417,108,2,12.3,40,2,5,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25940,97,3,14.1,31,2,10,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70083,137,4,16.4,42,3,14,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### e)features should be on same scale

#### random forest regressor dont need scaling

## step 3 train the model on training data set

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [13]:
model=RandomForestRegressor()

In [15]:
model.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [16]:
model.score(x_test,y_test)

0.9504665907749873